[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
moto = "*"
v = {editable = true,version = "*"}
pytest = "*"
pytest-mock = "*"

[packages]
boto3 = "*"
botocore = "*"
requests = "*"
uuid = "*"

[requires]
python_version = "3.7"
